.navbar{
    grid-area: 1 / 2 / 2 / 3;
    background: white;
    justify-self: stretch;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: $brand-font;
    color: $button-grey;
    height: auto;
    .money{
        align-items: center;
        margin: 0 10px;
        i{
            padding: 0 7px;
        }
        span{
            font-weight: 500;
        }
    }
    i{
        margin: 0 10px;
        border-width: 0 1px;
        
    }
    .profil{
        display: flex;
        align-items: center;
        margin: 0 10px;
        .name{
            height: 15px;
            font-size: 12px;
        }
    }
}