.links{
    table{
        margin: 30px 250px 0 250px;
        td{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $button-grey;
            border-collapse: collapse;
            border-spacing: 0;
            padding: 10px;
                a{
                    color: $links-color;
                    text-decoration: none;
                }
            i{
                color: transparent;
                margin: 0 5px;
            }
        }
        td:hover{
            background-color: $inputs-color;
            .icon-links{
                color: $hover-main-color;
            }
            .icon-trash{
                color: $button-grey
            }
        }
    }
}