.general{
    background: white;
    margin: 10px 7px;
    font-family: $paragraph-font;
    color: $button-grey;
    flex-direction: column;
    display: flex;
    .calendar{
        display: flex;
        align-items: center;
        padding: 30px;
        justify-content: center;
        border-bottom: 1px solid $button-grey-hover;
        input{
            font-size: 12px;
            font-family: $brand-font;
            border-width: 1px;
            border-color: $inputs-color;
            padding: 5px;
        }
    }
    .static{
        display: flex;
        margin:  30px 250px;
        justify-content: center;
        color: $button-grey;
        table{
            margin-left: 15px;
            min-width: 330px;
            }
            tr:hover{
                background-color: $light-grey;
            }
            tr{
                margin: 15px;
                td{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 50px;
                    border-bottom: 1px solid $button-grey;
                    div{
                        margin: 10px 0;
                    }
                    .number{
                        color: $paragraph-color;
                    }
                }
            }
        }
    
    .blue{
        color:$links-color;
    }
    .red{
        color: $red;
    }
    .green{
        color: $green;
    }
    .orange{
        color: $main-color;
    }
    p{
        text-align: left;
        height: 20px;
        margin: 0 250px;
        padding-top: 30px;
    }
    .earnings{
        display: flex;
        margin:  0 250px 50px 250px;
        color: $button-grey;
        justify-content: center;
        flex-direction: column;
        .color-button{
            width: 100%;
           display: flex;
           justify-content: center;
           padding: 10px;
           button{
               margin: 20px 15px;
               i{
               padding: 10px;
               }
               span{
                padding: 10px;
               }
           }
        }
        .table{
            width: 100%;
            margin-bottom: 50px;
            img{
                width: 100%;
            }
        }
    }
}