.topic{
    color: $inputs-color;
    width: 100%;
    border-bottom-color: $inputs-color;
    border-bottom-width: 1px;
    text-align: left;
    p{
        color: $button-grey;
        padding: 10px;
        font-family: 'Roboto', sans-serif;    }
}